.logform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  .loglabel {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 16px;
  }
  
  .loginput {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: darkred;
  }




  .user-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  h1 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .logout-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: darkred;
  }